$white: #fcf9f4;
$primary: #c07572a6;
$red-4: #a57b7b;
$red-3: #deb0b0;
$red-2: #f4d4d0;
$red-1: #f3e5e4;
$brown: rgb(155, 118, 103);
$white: #fcf9f4;
$light-grey: #b9b9b771;
$mid-grey: #696760;
$dark-grey: #4d4a43;

.checkoutPayment {
  // form {
  //   width: 30rem;
  //   margin: auto;
  // }
  .item {
    background-color: $white;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 4rem;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  form {
    margin: auto;
    width: 30rem;
  }
  .shippingAddress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .doubleInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .fullInput {
    width: 100%;
  }
  .halfInput {
    width: 49%;
  }
  input,
  select {
    height: 2.25rem;
    margin-bottom: 0.75rem;
  }
  .tripleInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    input,
    select {
      width: 32.67%;
    }
  }
  .btnWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .backBtn:hover {
    background-color: $red-2;
    cursor: pointer;
  }
  .continueBtn {
    background-color: $red-2;
  }
  .paymentForm {
    background-color: $white;
    padding: 1rem;
  }
}

@media screen and (max-width: 530px) {
  .checkoutPayment {
    form {
      width: 100%;
    }
  }
}
