$white: #fcf9f4;
$primary: #c07572a6;
$red-4: #a57b7b;
$red-3: #deb0b0;
$red-2: #f4d4d0;
$red-1: #f3e5e4;
$brown: rgb(155, 118, 103);
$white: #fcf9f4;
$light-grey: #b9b9b771;
$mid-grey: #696760;
$dark-grey: #4d4a43;

.checkoutInformation {
  form {
    margin: auto;
    width: 30rem;
  }
  .contact {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }
  .shippingAddress {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
  }
  .doubleInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .fullInput {
    width: 100%;
  }
  .halfInput {
    width: 49%;
  }
  .redBorder {
    border: 1px solid red;
    outline-color: red;
  }
  .halfDiv {
    width: 49%;
    position: relative;
  }
  .fullDiv {
    width: 100%;
    position: relative;
  }
  input,
  select {
    height: 2.25rem;
    margin-bottom: 1.1rem;
  }
  .tripleInput {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .selectWrap {
      width: 32.67%;
      position: relative;
      input,
      select {
        width: 100%;
      }
    }
  }
  .btnWrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .backBtn:hover {
    background-color: $red-2;
    cursor: pointer;
  }
  .continueBtn {
    background-color: $red-2;
  }
}

@media screen and (max-width: 550px) {
  .checkoutInformation {
    form {
      width: 100%;
    }
  }
}
