$white: #fcf9f4;
$primary: #c07572a6;
$red-4: #a57b7b;
$red-3: #deb0b0;
$red-2: #f4d4d0;
$red-1: #f3e5e4;
$brown: rgb(155, 118, 103);
$white: #fcf9f4;
$light-grey: #b9b9b771;
$mid-grey: #696760;
$dark-grey: #4d4a43;

.checkoutShipping {
  form {
    margin: auto;
    width: 30rem;
    // background-color: rgb(233, 233, 233);
  }
  .checkboxWrap {
    background-color: $white;
    width: 100%;
    height: 5rem;
  }
  .inputWrap {
    width: 12rem;
  }
  .shippingName {
    font-weight: 500;
    font-size: 1.2rem;
  }
  .shippingDescription {
    font-size: 0.9rem;
  }
  .cost {
    font-weight: 500;
    font-size: 1.2rem;
  }

  .btnWrap {
    display: flex;
    justify-content: space-between;
  }

  .backBtn:hover {
    background-color: $red-2;
    cursor: pointer;
  }

  .continueBtn {
    background-color: $red-2;
  }

  .imgWrap {
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  img {
    max-width: 100%;
    max-height: 100%;
  }

  .left {
    width: 24rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .prodName {
    font-weight: 500;
    font-size: 1.1rem;
  }
  .prodQuantity {
    font-size: 0.9rem;
  }
  .cartSummary {
    background-color: $white;
    width: 30rem;
    margin: auto;
  }
  .cartSummaryItem {
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .lineItem {
    height: 2rem;
  }
  .price {
    font-weight: 500;
  }
  .lineTotal {
    height: 5rem;
  }
  .totalTitle {
    font-weight: 500;
    font-size: 1.25rem;
  }
  .totalPrice {
    font-weight: 500;
    font-size: 1.25rem;
  }
  .contactItem {
    background-color: $white;
    display: flex;
    width: 100%;
    height: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    justify-content: flex-start;
    align-items: center;
    .title {
      font-weight: 500;
    }
    p {
      text-align: start;
      margin: 0px;
      font-size: 0.9rem;
    }
  }
}
