$white: #fcf9f4;
$primary: #c07572a6;
$red-4: #a57b7b;
$red-3: #deb0b0;
$red-2: #f4d4d0;
$red-1: #f3e5e4;
$brown: rgb(155, 118, 103);

$white: #fcf9f4;
$light-grey: #b9b9b771;
$mid-grey: #696760;
$dark-grey: #323029;

.hero-wrap {
  background: linear-gradient(0.25turn, #6161616e, #7a7a7a71, #6d3a0352),
    url("../assets/HeroImg_3.jpg");
  background-size: cover;
  height: 50rem;
  font-family: "Josefin Sans", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  .text-wrap {
    color: $white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h1 {
      font-weight: 500;
      font-size: 50px;
    }
  }
}

@media screen and (max-width: 1300px) {
  .hero-wrap {
    height: 45rem;
  }
}

@media screen and (max-width: 1200px) {
  .hero-wrap {
    height: 40rem;
  }
}

@media screen and (max-width: 1100px) {
  .hero-wrap {
    height: 35rem;
  }
}

@media screen and (max-width: 900px) {
  .hero-wrap {
    height: 30rem;
  }
}

@media screen and (max-width: 750px) {
  .hero-wrap {
    height: 25rem;
  }
}

@media screen and (max-width: 590px) {
  .hero-wrap {
    height: 22rem;
  }
}

@media screen and (max-width: 490px) {
  .hero-wrap {
    height: 20rem;
    .text-wrap {
      h1 {
        font-size: 2rem;
      }
    }
  }
}

.bestsellers {
  font-family: "Raleway", sans-serif;
  background-color: $white;

  .bestsellers-header {
    font-weight: 300;
    color: $primary;
  }
  .bestsellerCard {
    width: 20%;
    flex-shrink: 0;
    .itemWrap {
      width: 100%;
      padding: 0.5rem;
      border-radius: 5px;
      transition: box-shadow 0.2s;
    }
    .imgWrap {
      background-color: $white;
      margin-bottom: 0.5rem;
      aspect-ratio: 1;
    }
    img {
      max-height: 100%;
    }
    .textWrap {
      padding-top: 0.25rem;
      background-color: #9b7566;
      font-family: "Josefin Sans", sans-serif;
      color: $red-1;
    }
    h5 {
      margin: 0px;
    }

    .name {
      font-weight: 400;
      color: $red-1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
    .price {
      font-size: 1rem;
      margin-top: 0.25rem;
      font-weight: 300;
      color: $red-1;
    }
    .addToBagWrap {
      background-color: #9b7566;
      font-family: "Josefin Sans", sans-serif;
      padding-bottom: 0.25rem;
      padding-top: 0.5rem;
      border-radius: 0px 0px 5px 5px;
      .addText {
        font-style: italic;
        font-size: 1rem;
        color: black;
      }
    }

    .itemWrap:hover {
      box-shadow: 0px 0px 10px rgb(126, 126, 126);
    }
    .addToBagWrap:hover {
      background-color: #8b665a;
      color: $red-1;
      cursor: pointer;
    }
    .addToBagWrap:active {
      background-color: #745247;
      cursor: pointer;
    }
    .textWrap:hover,
    .imgWrap:hover {
      cursor: pointer;
    }
  }
  .fixed-wrap {
    overflow: hidden;
  }
  .cards-wrap {
    display: flex;
    flex-wrap: nowrap;
    transition: transform 0.5s;
  }
  .arrow-wrap-right {
    height: 100%;
    position: absolute;
    top: 0;
    right: -30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    border-radius: 0px 10px 10px 0px;
  }
  .arrow-wrap-left {
    height: 100%;
    position: absolute;
    top: 0;
    left: -30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.2s;
    border-radius: 10px 0px 0px 10px;
  }
  .arrow-wrap-left:hover,
  .arrow-wrap-right:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
  }

  .arrow-wrap-left:active,
  .arrow-wrap-right:active {
    background-color: rgb(190, 188, 188);
    cursor: pointer;
  }
  .content-wrap {
    position: relative;
    width: 100%;
  }
  @media screen and (max-width: 1200px) {
    .bestsellerCard {
      width: 25%;
    }
  }

  @media screen and (max-width: 990px) {
    .bestsellerCard {
      width: 33.33%;
    }
  }

  @media screen and (max-width: 767px) {
    .bestsellerCard {
      width: 50%;
    }
  }

  @media screen and (max-width: 620px) {
    .bestsellerCard {
      .itemWrap {
        padding: 0rem;
      }
    }

    .fixed-wrap {
      width: 80%;
    }
    .arrow-wrap-left {
      left: 0px;
    }
    .arrow-wrap-right {
      right: 0px;
    }
  }
}

.messageBlock {
  background: linear-gradient(
      184deg,
      rgba(32, 32, 32, 0),
      rgba(32, 32, 32, 0.8)
    ),
    url("../assets/plants-banner.jpg") repeat fixed 100%;
  height: 30rem;
  background-size: cover;
  color: $white;
  display: flex;
  align-items: center;
  .textBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: "Raleway", sans-serif;
    h1 {
      font-weight: 300;
    }
    span {
      font-weight: 300;
    }
  }
}

@media screen and (max-width: 850px) {
  .messageBlock {
    background: linear-gradient(
        184deg,
        rgba(32, 32, 32, 0),
        rgba(32, 32, 32, 0.8)
      ),
      url("../assets/plants-banner.jpg");
    background-size: cover;
  }
}

.mailingList {
  background-color: $brown;
  font-family: "Raleway", sans-serif;
  color: $red-1;
  h1 {
    font-weight: 300;
  }
  h4 {
    font-weight: 100;
  }
  input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $mid-grey;
    width: 20rem;
    margin-right: 1rem;
    outline: none;
  }
  .inputGroup {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  button {
    padding: 0px;
    margin: 0px;
    color: $red-1;
    transform: translateY(5px);
  }
}

.footer {
  background-color: $brown;
  margin: 0px;
  p {
    margin: 0px;
  }
  Link {
    text-decoration: none;
  }
  .footerTabs {
    display: flex;
    width: 7rem;
    justify-content: space-between;
    margin: auto;

    h5 {
      font-size: 1em;
      color: $red-1;
    }
    h5:hover {
      cursor: pointer;
    }
  }
  .copyright {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 400px) {
  .footer {
    .footerTabs {
      flex-direction: column;
      width: 100%;
    }
  }
  .mailingList {
    input {
      width: 80%;
    }
  }
}
